
/* CW納品 10.10 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.examplephoto {
  width: 100%;
}



/* 10.11納品 */


body{
  font-family: 'Dotum';
  font-weight: 100; 
}

.topimg img {
  width: 100%;
}