.orders-page {
	.topimg {
		width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
	}
	.nav--list {
		h1 {
			text-align: center;
			font-size: 2em;
		}
		.nav--items {
			.nav1{
				text-align: center;
				margin-bottom: 60px;
				.nav1 div{
					display: inline-block;
				}
				.nav--item {
					.navitem1{
						text-align: center;
						margin-left: 80px;
						margin-right: auto;
						background: rgb(255, 180, 41);
						color: #fff;
						border-radius: 10px; 
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						width: 90px;
						margin-left: 5px;
						margin-right: auto;
					}
					.navitem2{
						text-align: center;
						margin-left: 80px;
						margin-right: auto;
						background: red;
						color: #fff;
						border-radius: 10px; 
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						width: 90px;
						margin-left: 5px;
						margin-right: auto;
					}
				.navitem3{
						text-align: center;
						margin-left: 80px;
						margin-right: auto;
						background: rgb(24, 148, 55);
						color: #fff;
						border-radius: 10px; 
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						width: 90px;
						margin-left: 5px;
						margin-right: auto;
					}
				}
				div{
					display: inline-block;
				}
				.nav2{
					margin-left: 20px;
					margin-right: auto;
				}
				.nav3{
					margin-left: 110px;
					margin-right: auto;
				}
			}
		}
		.col{
			text-align: center;
			margin-bottom: 60px;
			p{
				display: inline-block;
			}
			.c1{
				background: rgb(41, 41, 250);
				color: #fff;
				border-radius: 10px; 
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				width: 90px;
			}
			.c2{
					background: rgb(255, 180, 41);
					color: #fff;
					border-radius: 10px; 
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					width: 90px;
			}
			.c3{
					background: red;
					color: #fff;
					border-radius: 10px; 
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					width: 90px;
			}
			.c4{
				background: rgb(24, 148, 55);
				color: #fff;
				border-radius: 10px; 
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				width: 90px;
			}
		}
	}
	.foot{
    text-align: center;
    margin-top: 300px;
		div {
			display: inline-block;
		}
	}
}