.l-footer {
	background-color: $main-color;
	height: 180px;
	width: 1080px;
	margin: 0 auto;
	padding: 30px;
	box-sizing: border-box;
	line-height: 19px;
	font-size: 16px;
	letter-spacing: 0.5;
	.footer {
		display: flex;
		.footer__info {
			margin-right: 56px;
			img {
				margin-bottom: 8px;
			}
			p {
				margin-bottom: 8px;
			}
		}
		.footer__menu {
			width: 600px;
			#menu-footer-nav {
				display: flex;
				justify-content: space-between;
				li a {
					color: #333;
				}
				> li:nth-child(2) {
					flex-direction: column;
					a {
						display: block;
					}
					> ul.sub-menu {
						>li {
							display: block;
							flex-direction: column;
							a{
								display: block;
								padding-left: 1.5rem;
							}
							> ul.sub-menu li a {
								padding-left: 3rem;
							}
						}
					}
				}
					> li:nth-child(3){
						> ul.sub-menu {
							display: block;
							padding-left: 1.5rem;
					}
				}
					> li:last-child {
						> a {
							display: block;
						}
						> ul.sub-menu {
							display: block;
							>li {
								display: block;
								flex-direction: column;
							}
						}
					}
			}
		}
	}
}