.main {
	.inner {
		width: 1080px;
		margin: 0 auto;
		padding-top: 100px;
	}
	.custom-home-title {
		background-size: auto auto;
		background-color: white;
		background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, #fff4c5 10px, #fff4c5 20px);
		height: 100px;
		padding-left: 50px;
		line-height: 100px;
		font-size: 28px;
	}
	.custom-home-arrow-box {
		padding-top: 128px;
		padding-bottom: 34px;
		.custom-home-arrow {
			position: relative;
			margin: 0 auto;
			width: 80px;
			height: 40px;
			background-color: #FFD664;
		}
		.custom-home-arrow::after {
			position: absolute;
			content: "";
			-webkit-transform: translate(0, -50%);
							transform: translate(0, -50%);
			width: 0;
			height: 0;
			top: -50%;
			border-style: solid;
			border-width: 0 40px 40px 40px;
			border-color: transparent transparent #FFD664 transparent;
		}
	}
	.custom-home-slider-area {
		.custom-home-slider__thumb-area {
			width: 580px;
			margin: 54.5px auto 0 auto;
		}
		.custom-home-slider__thumb-area-wrap > .vertical-img {
			width: 72.5px;
			height: 110px;
			margin-bottom: 10px;
		}
		.custom-home-slider__thumb-area-wrap .thumbnail-current {
			border: 2px solid #1C1C1C;
		}
		.custom-home-slider__thumb-area-wrap .thumbnail-item {
			margin-left: 16.88px;
		}
		.custom-home-slider__thumb-area-wrap > .horizontal-img {
			width: 110px;
			height: 72.5px;
		}
	}
	.custom-home-slider-area .custom-home-slider__thumb-area-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		margin-left: -16.88px;
		-webkit-box-align: center;
				-ms-flex-align: center;
						align-items: center;
	}
	.custom-home-slider-area__bg {
		padding-top: 17.25px;
		padding-bottom: 38.21px;
		background-color: #FFF4E9;
		.custom-home-slider-area__img-wrap .slick-slide > div {
			text-align: center;
		}
		.custom-home-slider-area__title {
			font-size: 36px;
			color: #000333;
			margin-bottom: 24.35px;
			text-align: center;
		}
		.custom-home-slider-area__img-wrap {
			.vertical-img {
				height: 880px !important;
				width: 580px !important;
			}
			.horizontal-img {
				margin-top: 150px;
				height: 580px !important;
				width: 880px !important;
			}
		} 
	}
}