.category-span {
	.category-span__news {
		background-color: #F49600;
		color: $btn-text;
	}
	.category-span__event {
		background-color: #F20034;
		color: $btn-text;
	}
	.category-span__blog {
		background-color: #0DA030;
		color: $btn-text;
	}
}